<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <div ng-app='myApp' ng-controller='myCtrl'>
    	<input type="text" ng-model='first'><br/>
    	<input type="text" ng-model='last'><br/>
    	{{first + '  '+last}}
    </div>
    <!-- active more ng-app by yourself-->
    <div id="test" ng-controller='test-con'>
        <input type="text" ng-model='content.message'>
    	<p>{{content.message}}</p>
    </div>
	<script src='angular.js'></script>
	<script>
		var app = angular.module('myApp',[]);
		app.controller('myCtrl',function($scope){
			$scope.first = 'wang';
			$scope.last = 'luffy';
		});
		var myapp = angular.module('test',[]);
		myapp.controller('test-con',function($scope){
			var content = {};
			content.message='hello world';
			$scope.content = content;
		});
		//add
		// angular.element(document).ready(
		// 	function(){
		// 		angular.bootstrap(document.getElementById('test'),['test']);
		// 	});
		angular.bootstrap(document.getElementById('test'),['test']);
	</script>
</body>
</html>