<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <div ng-app='myApp' ng-controller='myCtrl'>
    	<input type="text" ng-model='first'><br/>
    	<input type="text" ng-model='last'><br/>
    	{{first + '  '+last}}
    	<p>{{name}}</p>
    	<p>{{$root.name}}</p>
    </div>
    <div id="test" ng-controller='test-con'>
        <input type="text" ng-model='content.message'>
    	<p>{{content.message}}</p>
    	<p>{{name}}</p>
    	<p>{{$root.name}}</p>
    </div>
	<script src='angular.js'></script>
	<script>
		var app = angular.module('myApp',[]);
		app.controller('myCtrl',['$scope','$rootScope',function($scope,$rootScope){
			$scope.first = 'wang';
			$scope.last = 'luffy';
			$rootScope.name ='haha';
		}]);
		var myapp = angular.module('test',[]);
		myapp.controller('test-con',['$scope','$rootScope',function($scope,$rootScope){
			var content = {};
			content.message='hello world';
			$scope.content = content;
			$scope.name = $rootScope.name;//赋值
		}]);
		angular.bootstrap(document.getElementById('test'),['test']);
		// 由结果可以看出来，$rootScope.name设置的变量，在所有controller里面都是可以直接用{{$root.name}}来显示的，很强大。那当然也可以赋值给scope.两者类似于js中的原型链，$rootscope是最顶端的，他是所有scope的祖先
		//$rootscope是在angular启动流程中建立的，而被注入到controller中的$scope则是在视图创建的时候通过父辈的$scope.$new制造出来的，在视图销毁的时候，$scope会被跟着销毁。$scope是链接视图和controller的重要手段，controller则是可以与服务进行链接，将服务提供的功能进行组合，然后丢给$scope,$scope则将这些传递给视图，让它显示给用户。
	</script>
</body>
</html>