<!-- <div data-bind="text:name"></div>
<ul data-bind="foreach:list">
  <li data-bind="text:$data"></li>
</ul>
分页:
<button data-bind="click:setPage.bind($data,1),style:{color: page() == 1 ? 'red' : 'black'}">1</button>
<button data-bind="click:setPage.bind($data,2),style:{color: page() == 2 ? 'red' : 'black'}">2</button>
<button data-bind="click:setPage.bind($data,3),style:{color: page() == 3 ? 'red' : 'black'}">3</button>
<button data-bind="click:throwError">点我就出错</button>
<div data-bind="module:{name:'area1/_partial1',data:partialData }"></div> -->
<div>welcome to here</div>