html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.dialog-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
}
.dialog-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999;
}
.dialog-box{
    /*background: url('2.png');*/
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    /*overflow: scroll;*/
    /*transform: translateX(-50%) translateY(-50%);*/
}
.dialog-container .dialog-close-btn{
    position: absolute;
    cursor: pointer;
    right: 0;
}
