html{
    font-size: 16px;
}
.container{
    margin-bottom: 40px;
}
#sidebar img{
    width: 100%;
}
#main-content h1{
    font-size: 1.375rem;
    font-weight: bold;
}
#main-content label{
    font-weight: normal;
    font-size: 1rem;
    color: rgb(156,156,156);
}
#house-name{
    width: 80%;
}
#detail-address{
    width: 72%;
    margin-top: 10px;
}
.publish-item{
    margin: 0;
}
.address{
    margin-right: 20px;
}
.pulldown-list{
    left: 15px;
}
.add-img{
    position: relative;
}
.add-photo,.add-map{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(196,196,196);
    float: left;
}
.add-btn{
    margin-left: 30px;
    width: 95px;
    height: 38px;
    background: #fff;
    border: 1px solid rgb(109,189,32);
    color: rgb(109,189,32);
    position: absolute;
    bottom: 0;
}
#reset,#submit{
    width: 105px;
    height: 50px;
    background: #fff;
}
#reset{
    color: rgb(109,189,32);
    border: 1px solid rgb(109,189,32);
    margin-right: 14px;
}
#submit{
    color: #fff;
    background: rgb(109,189,32);
    border: none;
}
#rs-btn{
    float: right;
}